################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Comp-Arch-Contest-2/FileContentIndex
